<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Website</title>
    </head>
    <body>        
        <h1>Welcome to my website!!</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut diam quam nulla porttitor massa id. Imperdiet dui accumsan sit amet nulla facilisi. Sed tempus urna et pharetra pharetra massa. Ultricies mi quis hendrerit dolor. Et ultrices neque ornare aenean euismod elementum nisi quis eleifend. Fringilla ut morbi tincidunt augue interdum velit. Nunc sed blandit libero volutpat sed cras ornare. Eros in cursus turpis massa tincidunt dui ut. Feugiat in ante metus dictum at. Pellentesque massa placerat duis ultricies lacus sed. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Congue quisque egestas diam in. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Elit sed vulputate mi sit amet mauris commodo quis. Amet tellus cras adipiscing enim eu turpis egestas pretium.
        </p>

				<a href="{{ url_for('more') }}">Mais detalhes...</a>

    </body>
</html>