{% extends "layout.html" %}

{% block heading %}
    Second Page
{% endblock %}

{% block content %}
    <p>
        Metus aliquam eleifend mi in nulla posuere sollicitudin. Amet justo donec enim diam. Lobortis feugiat vivamus at augue eget arcu dictum. Neque egestas congue quisque egestas diam in arcu. Id leo in vitae turpis massa sed. Consequat semper viverra nam libero justo laoreet sit amet. In fermentum et sollicitudin ac orci phasellus egestas tellus. Sit amet nulla facilisi morbi tempus iaculis. Consequat nisl vel pretium lectus quam id. Magna fermentum iaculis eu non. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Etiam non quam lacus suspendisse faucibus interdum posuere. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Pretium fusce id velit ut tortor pretium viverra suspendisse potenti. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Maecenas volutpat blandit aliquam etiam. Netus et malesuada fames ac turpis egestas.
    </p>
{% endblock %}


{% block footer %}
    <a href="{{ url_for('index') }}">Voltar</a>  
{% endblock %}